/*
* Skeleton V1.1
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 8/17/2011
* 
* Reconfigured by: Jake Chamberlain
	- Modified to switch to 12 column grid, phones become liquid 100%
	- Cleaned up column inheritance to make more flexible
	- Switch clearfix to the more elegant micro-clearfix from Nicolas Gallagher 
	  (Fixes issue with rows and containers not being able to have before and after content.
	- Added tidbits from Zurb's Foundation. (Block-grid, Visibility styles)
*
* 5/01/2012
*/


/* Table of Contents
==================================================
    #Base Grid
    #Tablet (Portrait)
    #Mobile (Portrait)
    #Mobile (Landscape)
    #Floating
    #Clearing  */



/* #Base Grid
================================================== */

    .container                                  { position: relative; width: 960px; margin: 0 auto; padding: 0; }
    .container .column,
    .container .columns                         { float: left; display: inline; margin-left: 10px; margin-right: 10px; }
    .row                                        {  /*margin-bottom: 20px;*/ }

    /* Nested Column Classes */
    .column.alpha, .columns.alpha               { margin-left: 0; }
    .column.omega, .columns.omega               { margin-right: 0; }

    /* Base Grid */
    .one.column,
    .one.columns                     { width: 60px;  }
    .two.columns                     { width: 140px; }
    .three.columns                   { width: 220px; }
    .four.columns                    { width: 300px; }
    .five.columns                    { width: 380px; }
    .six.columns                     { width: 460px; }
    .seven.columns                   { width: 540px; }
    .eight.columns                   { width: 620px; }
    .nine.columns                    { width: 700px; }
    .ten.columns                     { width: 780px; }
    .eleven.columns                  { width: 860px; }
    .twelve.columns                  { width: 940px; }


    .one-third.column                { width: 300px; }
    .two-thirds.column               { width: 620px; }

    /* Offsets */
    .offset-by-one                   { padding-left: 80px;  }
    .offset-by-two                   { padding-left: 160px; }
    .offset-by-three                 { padding-left: 220px; }
    .offset-by-four                  { padding-left: 320px; }
    .offset-by-five                  { padding-left: 400px; }
    .offset-by-six                   { padding-left: 480px; }
    .offset-by-seven                 { padding-left: 560px; }
    .offset-by-eight                 { padding-left: 640px; }
    .offset-by-nine                  { padding-left: 720px; }
    .offset-by-ten                   { padding-left: 800px; }
    .offset-by-eleven                { padding-left: 880px; }
    
    
/* #Block grids :: from ZURB Foundation
================================================== */
	
	.block-grid { display: block; overflow: hidden; }
	.block-grid>li,
	.block-grid>div { display: block; height: auto; float: left; }
	
	.block-grid.two-up { margin-left: -4% }
	.block-grid.two-up>li, 
	.block-grid.two-up>div { margin-left: 4%; width: 46%; }
	
	.block-grid.three-up { margin-left: -2% }
	.block-grid.three-up>li,
	.block-grid.three-up>div { margin-left: 2%; width: 31.3%; }
	
	.block-grid.four-up { margin-left: -2% }
	.block-grid.four-up>li,
	.block-grid.four-up>div { margin-left: 2%; width: 23%; }
	
	.block-grid.five-up { margin-left: -1.5% }
	.block-grid.five-up>li,
	.block-grid.five-up>div { margin-left: 1.5%; width: 18.5%; }
	
	
	
/* #Mobile Visibility :: from ZURB Foundation
================================================== */	
	
	.show-on-phones { display: none !important; }	
	.show-on-tablets { display: none !important; }
	.show-on-desktops { display: block !important; }
	
	.hide-on-phones { display: block !important; }	
	.hide-on-tablets { display: block !important; }
	.hide-on-desktops { display: none !important; }



/* #Tablet (Portrait)
================================================== */

    /* Note: Design for a width of 768px */

    @media only screen and (min-width: 768px) and (max-width: 959px) {
        .container                                  { width: 768px; }
        .container .column,
        .container .columns                         { margin-left: 10px; margin-right: 10px;  }
        .column.alpha, .columns.alpha               { margin-left: 0; margin-right: 10px; }
        .column.omega, .columns.omega               { margin-right: 0; margin-left: 10px; }
        .alpha.omega                                { margin-left: 0; margin-right: 0; }

        .one.column,
        .one.columns                     { width: 44px; }
        .two.columns                     { width: 108px; }
        .three.columns                   { width: 172px; }
        .four.columns                    { width: 236px; }
        .five.columns                    { width: 300px; }
        .six.columns                     { width: 364px; }
        .seven.columns                   { width: 428px; }
        .eight.columns                   { width: 492px; }
        .nine.columns                    { width: 556px; }
        .ten.columns                     { width: 620px; }
        .eleven.columns                  { width: 684px; }
        .twelve.columns                  { width: 748px; }

        .one-third.column                { width: 236px; }
        .two-thirds.column               { width: 492px; }

        /* Offsets */
        .offset-by-one                   { padding-left: 64px; }
        .offset-by-two                   { padding-left: 128px; }
        .offset-by-three                 { padding-left: 192px; }
        .offset-by-four                  { padding-left: 256px; }
        .offset-by-five                  { padding-left: 320px; }
        .offset-by-six                   { padding-left: 384px; }
        .offset-by-seven                 { padding-left: 448px; }
        .offset-by-eight                 { padding-left: 512px; }
        .offset-by-nine                  { padding-left: 576px; }
        .offset-by-ten                   { padding-left: 640px; }
        .offset-by-eleven                { padding-left: 704px; }

        
        /* Block-Grid */
        .hide-on-phones { display: block !important; }
		.hide-on-tablets { display: none !important; }
		.hide-on-desktops { display: block !important; }
			
		.show-on-phones { display: none !important; }
		.show-on-tablets { display: block !important; }
		.show-on-desktops { display: none !important; }
    }


/*  #Mobile (Portrait)
================================================== */

    /* Note: Design for a width of 320px */

    @media only screen and (max-width: 767px) {
        .container { width: 100%; overflow: hidden; }
        .container .columns,
        .container .column { margin: 0; }

        .one.column,
        .one.columns,
        .two.columns,
        .three.columns,
        .four.columns,
        .five.columns,
        .six.columns,
        .seven.columns,
        .eight.columns,
        .nine.columns,
        .ten.columns,
        .eleven.columns,
        .twelve.columns,
        .one-third.column,
        .two-thirds.column  { width: 100%; }

        /* Offsets */
        .offset-by-one,
        .offset-by-two,
        .offset-by-three,
        .offset-by-four,
        .offset-by-five,
        .offset-by-six,
        .offset-by-seven,
        .offset-by-eight,
        .offset-by-nine,
        .offset-by-ten,
        .offset-by-eleven { padding-left: 0; }
        
        
        /* Block-Grid */
        .block-grid.mobile { margin-left: 0; }
		.block-grid.mobile li { float: none; width: 100%; margin-left: 0; }
		
		
		 /* Visibility */
		.hide-on-phones { display: none !important; }
		.hide-on-tablets { display: block !important; }
		.hide-on-desktops { display: block !important; }
			
		.show-on-phones { display: block !important; }
		.show-on-tablets { display: none !important; }
		.show-on-desktops { display: none !important; }

    }


/* #Mobile (Landscape)
================================================== */

    /* Note: Design for a width of 480px */

    @media only screen and (min-width: 480px) and (max-width: 767px) {
        .container { /*width: 420px;*/ width: 100%; overflow: hidden; }
        .container .columns,
        .container .column { margin: 0; }

        .one.column,
        .one.columns,
        .two.columns,
        .three.columns,
        .four.columns,
        .five.columns,
        .six.columns,
        .seven.columns,
        .eight.columns,
        .nine.columns,
        .ten.columns,
        .eleven.columns,
        .twelve.columns,
        .one-third.column,
        .two-thirds.column { width: 100%; }
        
        /* Block-Grid */
        .block-grid.mobile 	  { margin-left: 0; }
		.block-grid.mobile li { float: none; width: 100%; margin-left: 0; }
		
		
		/* Visibility */
		.hide-on-phones { display: none !important; }
		.hide-on-tablets { display: block !important; }
		.hide-on-desktops { display: block !important; }
			
		.show-on-phones { display: block !important; }
		.show-on-tablets { display: none !important; }
		.show-on-desktops { display: none !important; }
    }


/* #Floating
================================================== */
	
	.left  { display: block; float: left; }
	.right { display: block; float: right; }


/* #Clearing
================================================== */

    /* Self Clearing Goodness */
    .container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

   /* Nicolas Gallagher's micro clearfix */
	.row:before, .row:after, .clearfix:before, .clearfix:after { content:""; display:table; }
	.row:after, .clearfix:after { clear: both; }
	.row, .clearfix { zoom: 1; }

    /* You can also use a <br class="clear" /> to clear columns */
    .clear {
      clear: both;
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0;
    }
